<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheet/animal_data.css">
</head>
<body>
    <main>
        <div class="heading-dflex">   
            <div class="image_circle">
                <img src="./images/Group 81.png" alt="">
            </div>
            <h1>
                Farmerpe
            </h1>
        </div>
        <div class="content">
            <div class="text">
                <div class="spacing">
                    <p>Beneficiary Name / हितग्राही नाम: </p>
                    <p class="name"><%= user_data.fname %> <%= user_data.mname %> <%= user_data.lname %></p>
                </div>
                <div class="spacing">
                    <p>Mobile Number / मोबाइल नंबर: </p>
                    <p><%= user_data.mnumber %></p>
                </div>
                <div class="spacing">
                    <p>Email/ ईमेल: </p>
                    <p><%= user_data.email %></p>
                </div>
                <div class="spacing">
                    <p>Address/ पता: </p>
                    <p><%= user_data.address %></p>
                </div>
                <div class="spacing">
                    <p>Area: </p>
                    <p> <%= user_data.landarea %></p>
                </div>
                <div class="spacing">
                    <p>Pin Code/ पिनकोड: </p>
                    <p><%= user_data.pcode %> </p>
                </div>

            </div>
            <div class="images">

                    <img id="cimg" src="data:<%= user_data.cimg.contentType %>;base64,<%= user_data.cimg.data.toString('base64') %>" alt="">
                    <img id="aimg" src="data:<%= user_data.aimg.contentType %>;base64,<%= user_data.aimg.data.toString('base64') %>" alt="">
        
            </div>
            
        </div>

    </main>


</body>
</html>