<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheet/animal_data.css">
</head>
<body>
    <main>
        <div class="heading-dflex">   
            <div class="image_circle">
                <img src="./images/Group 81.png" alt="">
            </div>
            <h1>
                KisaanPe
            </h1>
        </div>
        <div class="content">
            <div class="text">
                <div class="spacing">
                    <p class="field-name">Beneficiary Name / हितग्राही नाम: </p>
                    <p class="user-data"><%= owner_data.fname %> <%= owner_data.lname %></p>
                </div>
                <div class="spacing">
                    <p class="field-name">Mobile Number / मोबाइल नंबर: </p>
                    <p class="user-data"><%= owner_data.mnumber %></p>
                </div>
                <div class="spacing">
                    <p class="field-name">Email/ ईमेल: </p>
                    <p class="user-data email"><%= owner_data.email %></p>
                </div>
                <div class="spacing">
                    <p class="field-name">Address/ पता: </p>
                    <p class="user-data"><%= owner_data.address %></p>
                </div>
                <div class="spacing">
                    <p class="field-name">Area: </p>
                    <p class="user-data"> <%= owner_data.larea %></p>
                </div>
                <div class="spacing">
                    <p class="field-name">Pin Code/ पिनकोड: </p>
                    <p class="user-data"><%= owner_data.pcode %> </p>
                </div>

            </div>
            <div class="images">

                    <img id="uimg" src="data:<%= owner_data.uimg.contentType %>;base64,<%= owner_data.uimg.data.toString('base64') %>" alt="Not found">
                    <img id="aimg" src="data:<%= animal_data.aimg.contentType %>;base64,<%= animal_data.aimg.data.toString('base64') %>" alt="Not found">
        
            </div>
            
        </div>

    </main>


</body>
</html>