<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer Pe</title>
    <link rel="stylesheet" href="./stylesheet/dashboard.css">

    

</head>
<body>
        <header>
            <nav>
                <div class="d-flex">

                    <img class="nav__icon" src="./images/wheat_in_greencircle.svg" alt="">
                    <p>KisaanPe</p>
                </div>
                <button ><img id="hamburger_button" src="./images/hamburder_image.svg" alt=""></button>

            </nav>
            <section class="header__nav-section">
                <a  class="ham_buttons" href="/"><i class="fa-solid fa-house" style="color: #008000;"></i>Home</a>
                <a  class="ham_buttons" href="/logout"><i class="fa-solid fa-right-from-bracket" style="color: #008000;"></i>Log out</a>
            </section>

        </header>
        <main>
            <section class="user-card">
                <img class="farmer_img" src="data:<%= rdata.uimg.contentType %>;base64,<%= rdata.uimg.data.toString('base64') %>" alt="Not found">

                <section class="details-section">
                    <p>
                         <b>Beneficiary Name:</b>  <%= rdata.fname %> <%= rdata.lname %>
                    </p>
                    <p>
                        <b>Mobile Number:</b> <%= rdata.mnumber %>
                    </p>
                    <p>
                         <b>Email</b> : <%= rdata.email %>
                     </p>
                    <p>
                         <b>Address:</b> <%= rdata.address %>
                    </p>
                    <p>
                         <b>Pin Code:</b><%= rdata.pcode %>
                    </p>
                    <p>
                        <b>Animal Number:</b> <br> <%=  adata.length %>
                    </p>
                </section> 
            </section>
           
           <section class="animals-section">
            <h2>Animals</h2>
            <% if (adata.length > 0) { %>
                <% adata.forEach((item) => { %>
                    <div class="animal-data">
                   
                        <img src="data:<%= item.aimg.contentType %>;base64,<%= item.aimg.data.toString('base64') %>" alt="Not found">
                       <div>
                        <p>Registration NO:  <%= item.rnumber %></p>
                        <p>Animal:  <%= item.atype %></p>
                       </div>
                    </div>
                  <% }) %>
              <% } else { %>
                <p>No Animals</p>
              <% } %>
               
           </section>
           <button class="add-animals">Add</button>
           <button class="generate-receipt">Generate Receipt</button>
        </main>

        <script>
            document.querySelector('.add-animals').addEventListener('click', function() {
            window.location.href = '/register-animal';
            });
            document.querySelector(".generate-receipt").addEventListener("click", function(){
                window.location.href = "/generate"
            })
        </script>
        <script src="./script/hpage.js"></script>

        <script src="https://kit.fontawesome.com/88bc3e9469.js" crossorigin="anonymous"></script>
       
</body>
</html>
