<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer Pe</title>
    <link rel="stylesheet" href="./stylesheet/dashboard.css">

    

</head>
<body>
        <header>
            <nav>
                <div class="d-flex">

                    <img class="nav__icon" src="./images/wheat_in_greencircle.svg" alt="">
                    <p>KisaanPe</p>
                </div>
                <button ><img id="hamburger_button" src="./images/hamburder_image.svg" alt=""></button>

            </nav>
            <section class="header__nav-section">
                <a  class="ham_buttons" href="/"><i class="fa-solid fa-house" style="color: #008000;"></i>Home</a>
                <a  class="ham_buttons" href="/logout"><i class="fa-solid fa-right-from-bracket" style="color: #008000;"></i>Log out</a>
            </section>

        </header>
        <main>
            <section class="user-card">
                <img class="farmer_img" src="./images/Farmer.png" alt="">


                <section class="details-section">
                    <p>
                         <b>Beneficiary Name:</b>  <%= user.fname %> <%= user.lname %>
                    </p>
                    <p>
                        <b>Mobile Number:</b> <%= user.mnumber %>
                    </p>
                    <p>
                         <b>Email</b> : <%= user.email %>
                     </p>
                    <p>
                         <b>Address:</b> <%= user.address %>
                    </p>
                    <p>
                         <b>Pin Code:</b><%= user.pcode %>
                    </p>
                    <p>
                        <b>Animal Number:</b> <br> 1 Cow, 2 Buffalos, 0 Goats
                    </p>
                </section> 
            </section>
           
           <section class="animals-section">
            <h2>Animals</h2>

                <div class="animal-data">
                    <img src="./images/cow_image_red.png" alt="">



                    <div>
                        <p> <b>Registration No:</b> 456</p>
                        <p> <b>Animal: </b> Cow </p>
                    </div>
                </div>
                <div class="animal-data">
                    <img src="./images/cow_image_red.png" alt="">


                    <div>
                        <p> <b>Registration No:</b> 456</p>
                        <p> <b>Animal: </b> Cow </p>
                    </div>
                </div>

           </section>
           <button class="add-animals"> Add</button>
        </main>


        <script src="./script/hpage.js"></script>

        <script src="https://kit.fontawesome.com/88bc3e9469.js" crossorigin="anonymous"></script>
       
</body>
</html>
