<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheet/recipt.css">
</head>
<body>
    <main>
  
            <h1>
                Kisaanpe/ किसान पे
            </h1>
            <h2>Recipt / रसीद</h2>

        <div class="content">
            <div class="text">
                <div class="spacing">
                    <p>Date / दिनांक: <%= date %> </p>
                </div>
                <div class="spacing">
                    <p>Beneficiary Name / हितग्राही नाम: </p>
                    <p class="name"><%= client_data.fname %> <%= client_data.mname %> <%= client_data.lname %></p>
                </div>
                <div class="spacing">
                    <p>Mobile Number / मोबाइल नंबर: </p>
                    <p><%= client_data.mnumber %></p>
                </div>
                <div class="spacing">
                    <p>Email/ ईमेल: </p>
                    <p><%= client_data.email %></p>
                </div>
                <div class="spacing">
                    <p>Address/ पता: </p>
                    <p><%= client_data.address %></p>
                </div>
                <div class="spacing">
                    <p>Area: </p>
                    <p> <%= client_data.larea %></p>
                </div>
                <div class="spacing">
                    <p>Pin Code/ पिनकोड: </p>
                    <p><%= client_data.pcode %> </p>
                </div>
                <div class="spacing">
                    <p>Agent Name: / प्रतिनिधि का नाम: </p>
                    <p><%= aname %> </p>
                </div>
                <div class="spacing">
                    <p>Animal Numbers/ पशु संख्या </p>
                    <div class="inp_section">
                        <p class="animal_inp">बकरी: <%= goat %></p>
                        <p class="animal_inp">भेड़: <%= sheep %></p>
                        <p class="animal_inp">गाय: <%= cow %></p>
                        <p class="animal_inp">भैंस: <%= buffalo %></p>
                    </div>  
            
                </div>



            </div>
            <div class="images">

                    <img id="cimg" src="data:<%= client_data.uimg.contentType %>;base64,<%= client_data.uimg.data.toString('base64') %>" alt="">
        
            </div>

            
            
        </div>
        <div class="charge">
            <p>Charge/ शुल्क:  <%= charge %>₹</p>
    
        </div>
        <button onclick="printPage()">PRINT</button>

    </main>
    <script>
            function printPage() {
      // Trigger the browser's print functionality
      window.print();
    }
    </script>
</body>
</html>